.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 293px;
    height: 534px;
    border-radius: 25px;
    padding: 25px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width:1024px) {
        padding: 30px 45px;
        min-width: 400px;
    }

    @media (min-width:1024px) {
        padding: 28px 80px;
        min-width: 600px;
    }
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 40px;
    text-align: center;

    @media (min-width:1024px) {
        font-size: 28px;
    }
}

.label {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    margin-bottom: 25px;

    @media (min-width:1024px) {
        font-size: 14px;
        margin-bottom: 30px;
    }
}

.input {
    display: block;
    margin-top: 15px;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #e4e4e4;
    width: 100%;

    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #ababab;

    @media (min-width:1024px) {
        padding: 17px 20px;
        font-size: 14px;
    }
}

.btn {
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #ffb36c;
    max-width: 114px;
    margin: 0 auto 15px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 8px;
    color: #000;
    text-align: center;

    @media (min-width:1024px) {
        font-size: 10px;
    }
}

.span {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    cursor: pointer;
}